<nav class="navbar navbar-expand-lg navbar-light p-0 m-0">

  <a class="navbar-brand" href="https://www.supplychainschool.co.uk">
    <img src="/assets/logo/logo.svg" alt="GIS | SupplyChainSchool" height="80"/>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item text-sps">
        <a class="nav-link text-sps" href="https://www.maps.supplychainschool.co.uk">Home</a>
      </li>

      <li class="nav-item text-sps dropdown">
        <a class="nav-link text-sps dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Maps
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for key, config in map_configs.items()|sort(attribute='0') %}
            <a class="dropdown-item" href="/{{ key }}/index.html">{{ config.title }}</a>
          {% endfor %}
        </div>
      </li>

    </ul>
  </div>

  {% if config %}
  <span class="navbar-text mr-3">
    {{ config.title }}
  </span>
  {% endif %}

</nav>
