<div class="container-fluid">
  <a class="btn btn-sm btn-primary collapsed mt-1 mb-1" data-toggle="collapse" data-target="#collapseExampleArea" href="#collapseExampleArea" aria-expanded="false">
    <span class="map-filter-label">Advanced Search:</span>
  </a>
  <small class="text-secondary">Click to show and apply filters.</small>
  <small class="text-secondary">Click on a region to show MEP's servicing that area online, or markers for MEPs with physical addresses.</small>
  <small class="text-secondary">Red = Buy and Sell, Blue = Sell/donate only, Green = Buy only.</small>

  <div id="collapseExampleArea" class="collapse">
    <div class="row county-select"></div>
    <hr />
    <div class="row map-filters"></div>
  </div>

</div>
