.main-wrapper {
  height: 100vh;
}

.map-container {
  height: 95%;
}

.footer-container {
  height: 10px;
}

#map-canvas {
  height: 100%;
  width: 100%;
}

#admin-map-canvas {
  height: 100%;
  width: 100%;
}

.map-filter {
  width: 100%;
}

.map-filter-label {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.navbar-light {
  background-color: "#f5f5f5";
}

/* PURE css solution for rotating carets based on expanded section */

[data-toggle="collapse"]:after {
    display: inline-block;
    content: ">";
    transform: rotate(90deg) ;
    transition: all linear 0.25s;
  }
[data-toggle="collapse"].collapsed:after {
  transform: rotate(0deg) ;
}

.text-sps {
  color: #212529 !important;
}


.previewcollapse .collapse, .previewcollapse .collapsing {
  height: 1.5rem;  /* [NUM_OF_LINES] x [LINE_HEIGHT] */
}

.previewcollapse .collapse {
  position: relative;  /* For ...'s content absolute positioning */
  display: block;
  overflow: hidden;
}

.previewcollapse .collapse.show {
  height: auto;  /* You need to reset the height when not collapsed */
}

.previewcollapse .collapse.show:before {
  display: none;  /* Of course you don't want to display ... */
}

.previewcollapse a {
  color:black;
}

.collapse > *:nth-child(2) {
  display: inline;
}

.previewcollapse a.collapsed:after {
  content: '(+):';
}

.previewcollapse a:not(.collapsed):after {
  content: '(-):';
  transform: rotate(0);
}

/* --------------- */

.helpcollapse .collapse, .helpcollapse .collapsing {
  height: 2rem;  /* [NUM_OF_LINES] x [LINE_HEIGHT] */
}