.main-wrapper {
  height: 100vh;
}

.map-container {
  height: 95%;
}

.footer-container {
  height: 10px;
}

#map-canvas {
  height: 100%;
  width: 100%;
}

.map-filter {
  width: 100%;
}

.map-filter-label {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

/* PURE css solution for rotating carets based on expanded section */

[data-toggle="collapse"]:after {
    display: inline-block;
    content: ">";
    transform: rotate(90deg) ;
    transition: all linear 0.25s;
  }   
[data-toggle="collapse"].collapsed:after {
  transform: rotate(0deg) ;
}

.text-sps {
  color: #212529 !important;
}